<h2 mat-dialog-title>

  {{ data ? 'Editar Cliente' : 'Nuevo Cliente' }}

</h2>

<mat-dialog-content>

  <form [formGroup]="form">

    <!-- Documento -->
    <mat-form-field
      appearance="outline"
      class="full-width">

      <mat-label>
        Documento
      </mat-label>

      <input
        matInput
        formControlName="documento">

      <mat-error
        *ngIf="form.controls['documento'].hasError('required')">

        El documento es obligatorio

      </mat-error>

    </mat-form-field>

    <!-- Nombre -->
    <mat-form-field
      appearance="outline"
      class="full-width">

      <mat-label>
        Nombre
      </mat-label>

      <input
        matInput
        formControlName="nombre">

      <mat-error
        *ngIf="form.controls['nombre'].hasError('required')">

        El nombre es obligatorio

      </mat-error>

    </mat-form-field>

    <!-- Teléfono -->
    <mat-form-field
      appearance="outline"
      class="full-width">

      <mat-label>
        Teléfono
      </mat-label>

      <input
        matInput
        formControlName="telefono">

    </mat-form-field>

    <!-- Correo -->
    <mat-form-field
      appearance="outline"
      class="full-width">

      <mat-label>
        Correo
      </mat-label>

      <input
        matInput
        type="email"
        formControlName="correo">

      <mat-error
        *ngIf="form.controls['correo'].hasError('email')">

        El correo no es válido

      </mat-error>

    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    mat-button
    type="button"
    (click)="cerrar()">

    Cancelar

  </button>

  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="guardar()">

    Guardar

  </button>

</mat-dialog-actions>